<h2>We're Sorry!</h2>
<h4>The an error occurred. You can try again or report this issue to a site administrator.</h4>

<p><%= link_to "You can always go back to the page you were previously on by clicking here or using your browser back button","#", :class=>"back-link" %></p>

<h3>Maybe One of These Pages Can Help?</h3>
<ul>
	<li><%= link_to "Help Page", "#help_path" %></li>
	<li><%= link_to "Your Account", "#accounts_path" %></li>
</ul>