<li><a href="http://medicalcenter.osu.edu">Ohio State's Wexner Medical Center</a></li>
<li><a href="http://osu.edu/">The Ohio State University</a></li>
<li><a href="http://biomed.osu.edu/">School of Biomedical Science</a></li>