<ul id="brand">
	<li class="thissite"><a href="http://medicine.osu.edu">Ohio State's College of Medicine</a></li>
	<li><a href="http://medicine.osu.edu/faculty/ces/pages/index.aspx">Center for Education and Scholarship</a></li>
	<li><a href="http://www.osu.edu">Ohio State</a></li>
</ul>