<title><%= title(OsucomLayoutRails::Application.config.site_title) %></title>

<meta name="description" content="">
<meta name="author" content="">

<meta name="viewport" content="width=device-width,initial-scale=1">